.StudentNameLayer {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
}

.JoinFormControl {
    min-width: 40vw;
    max-width: 90vw;
    margin-bottom: 10px;
    margin-top: 5px;
    color: #eaeaea ;
    border-color: #eaeaea;
}

.JoinOutLinedInput {
    color: #eaeaea;
}

.QuestionProgress {
    min-height: 2.5vh;
    margin: 1vh 1vw;
}

.QuestionLayer {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.QuestionTitle {
    min-height: 40vh;
    min-width: 100vw;
    text-align: center;
    color: #eaeaea;
    margin-bottom: 10px;
    margin-top: 10vh;
    font-family: "Arial", sans-serif;
}

.AnswerSubmit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ButtonAnswerSubmit {
    max-width: 20vw;
}

.KeyContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5vh;
    row-gap: 5vh;
    min-height: 20vh;
}

.KeyStyle {
    display: flex;
    align-items: center;
}

.FinishPage {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #eaeaea;
    font-family: "Arial", sans-serif;
}
