.StudentNameLayer {
    background-color: #343a40;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.JoinFormControl {
    min-width: 40vw;
    max-width: 90vw;
    margin-bottom: 10px;
    color: #eaeaea ;
    border-color: #eaeaea;
}

.WhiteFont {
    color: #eaeaea !important;
    font-family: "Arial", sans-serif;
}

.JoinOutLinedInput {
    color: #eaeaea;
}

.QuestionProgress {
    min-height: 2.5vh;
}

.QuestionLayer {
    background-color: #343a40;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.QuestionTitle {
    min-height: 40vh;
    min-width: 100vw;
    text-align: center;
    background: radial-gradient(76.06% 76.06% at 53.17% 47.89%, #DF0B18 0%, #4200FF 100%);
    color: #eaeaea;
    margin-bottom: 10px;
    margin-top: 15vh;
    font-family: "Arial", sans-serif;
}

.AnswerSubmit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.ButtonAnswerSubmit {
    max-width: 20vw;
}

.KeyContainer {
    display: flex;
    justify-content: space-evenly;
    color: #2ba825;
    flex-wrap: wrap;
}

.KeyStyle {
    display: flex;
    align-items: center;
}

.FinishPage {
    background-color: #343a40;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #eaeaea;
    font-family: "Arial", sans-serif;
}
