.CorrectMessage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #2ba825;
    background-color: #eaeaea;
    position: absolute;
    bottom: 0;
    min-width: 100vw;
    animation-name: fade-in;
    animation-duration: 2s;
}

.WrongMessage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
    position: absolute;
    bottom: 0;
    min-width: 100vw;
    color: #a8172f;
    animation-name: fade-in;
    animation-duration: 2s;
}

@keyframes fade-in {
    from {bottom: -8vh}
    to {bottom: 0}
}
